h1{
    font-size: 50px;
    text-align: center;
}

body{
    background-color: white;
}

.blog{
    border: 1px solid black;
    margin-top: 80px;
    display: flex;
    
}
.nav a{
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 25px;
    padding: 30px;
    padding-bottom: 20px;
    margin-left: 0px;
    text-decoration: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.nav a:hover{
    background-color:rgb(24,49,83);
}

.nav a:visited{
    color: black;
}

.nav{
    
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    border-left: 10px;
}

.casemiro{
    padding: 40px;
    
}

.casetext{
    padding-top: 40px;
}

